/*------------------------------------------------------------------

    Responsive Styles

-------------------------------------------------------------------*/

@import 'mixins';

/*-----------------  Desktops  -----------------*/
@media screen and (max-width:635px){
  .main-content{ padding: 30px !important; }
  .main-logo{ width: 100%; margin-bottom: 30px; margin-top: 0;  }
}
@media (min-width: 635px) and (max-width:770px){  }
@media (min-device-width: 519px) and (max-devide-width:770px){  }
/* End Desktops */

/*-----------------  Smartphones  -----------------*/
@media (max-device-width: 519px) {
  .main-content{ padding: 30px !important; }
  .main-logo{ width: 100%; margin-bottom: 30px; margin-top: 0;  }
 }
/* End Smartphones */
