/*------------------------------------------------------------------

    Responsive Styles

-------------------------------------------------------------------*/

@import 'mixins';

/*-----------------  Desktops  -----------------*/
@media screen and (max-width:635px){

  .nav-button-text{ display: block; }

  /* Shows nav text on mobile viewport sizes */
  .nav-hide-desktop{ display: block !important; }

  /* Hides nav text on mobile viewport sizes */
  .nav-hide-mobile{ display: none !important; }

  .col-5{
    width: 50% !important;
  }

  .main-content{
    padding: 30px !important;
    h1{ font-size: 40px !important; }
    h2{ font-size: 30px !important; }
  }
  .main-logo{ width: 100%; margin-top: 0 !important;  }
}
@media (min-width: 635px) and (max-width:770px){
  .col-5{ width: 33% !important;}
}
@media (min-device-width: 519px) and (max-devide-width:770px){
  .col-5{ width: 33% !important;}
}
/* End Desktops */

/*-----------------  Smartphones  -----------------*/
@media (max-device-width: 519px) {
  .col-5{
    width: 50% !important;
  }
  .main-content{
    padding: 30px !important;
    h1{ font-size: 40px !important; }
    h2{ font-size: 30px !important; }
  }
  .main-logo{ width: 100%; margin-top: 0 !important; }
 }

/* End Smartphones */
