/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'responsive_styles';

/* END: Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */

 * {
     margin:0; padding:0;

     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

 html{
  overflow: scroll;
  min-height: 100%;
  position: relative;
  width: 100%;

  background-position: center;
  background: #000c30; /* Old browsers */
  background: -moz-linear-gradient(top, #000c30 1%, #0f2a54 20%, #236b8f 77%, #96a19f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000c30 1%,#0f2a54 20%,#236b8f 77%,#96a19f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000c30 1%,#0f2a54 20%,#236b8f 77%,#96a19f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c30', endColorstr='#96a19f',GradientType=0 ); /* IE6-9 */
 }

 body{ background: none !important; padding-bottom: 150px;  }

 a{  }

 p{
   a{
     font-weight: 600;
   }
 }

 p, li{ font-family: "open-sans",sans-serif; font-size: 18px; }

 ul{ list-style:none; }

 hr{
  @include full;
  margin: 15px 0 !important;
  border-top: 1px dotted rgba(35, 107, 143, .4) !important;
  height: 0px !important;
}

 h1, h2, h3, h4, h5, h6{
  font-family: "proxima-nova-alt-ext-cond",sans-serif !important;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
 }

 h1{ font-size: 55px !important; }
 h2{ font-size: 40px !important; }
 h3{ font-size: 30px !important; }

 table tr{  }

 ::selection{  }

 /* END: Global Styles */


 /**
  * =========================================
  * Utility Classes
  * =========================================
  */

.main-content{ position: relative; z-index: 99; margin-top: 60px; }
.full{ @include full; }

 .clear{ clear: both; }
 .left{  float: left; }
 .right{ float: right; }
 /* Five Columns Setup */
 .col-xs-15,
 .col-sm-15,
 .col-md-15,
 .col-lg-15 {
     position: relative;
     min-height: 1px;
     padding-right: 10px;
     padding-left: 10px;
 }
 .col-xs-15,
 .col-sm-15,
 .col-md-15,
 .col-lg-15{
   width: 20%;
   float: left;
 }

 .col-xs-14,
 .col-sm-14,
 .col-md-14,
 .col-lg-14{
   width: 14%;
   float: left;
 }

.col-5{
  width: 20%;
  float: left;
}

.text-bold{ font-weight: 900; }
.text-small{ font-size: 15px; }
.disc{ list-style: disc; padding-left: 20px; }


 /* END: Utility Classes */


 /**
  * =========================================
  * Navigation
  * =========================================
  */

.nav{
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;

  background: #000412;

  i{ @include transition; }

  a{
    @include full;
    @include transition;
    padding: 20px;
    font-size: 25px;
    font-family: "proxima-nova-alt-ext-cond",sans-serif !important;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;

    &:hover, &:focus, &:visited{
      @include transition;
      text-decoration: none;
      background: $mblue;
      color: $white;

      i{
        @include transition;
        color: $white;
      }
    }
  }

  .col-xs-15{ padding: 0 0 0 0;}
}

.nav-v2{
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;

  background: #000412;

  i{ @include transition; }

  .navlink{
    @include full;
    @include transition;
    padding: 20px;
    font-size: 20px;
    font-family: "proxima-nova-alt-ext-cond",sans-serif !important;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;

    &:hover, &:focus, &:visited{
      @include transition;
      text-decoration: none;
      background: $mblue;
      color: $white;

      i{
        @include transition;
        color: $white;
      }
    }
  }

  .col-xs-15{ padding: 0 0 0 0;}

  /* Hides nav text on mobile viewport sizes */
  .nav-hide-desktop{ display: none !important; }

  /* Shows nav text on mobile viewport sizes */ 
  .nav-hide-mobile{ display: visible !important; }
}

/* END: Navigation */


 /**
  * =========================================
  * Elements
  * =========================================
  */

.button{
  @include full;
  @include transition;
  padding: 20px;
  font-size: 25px;
  font-family: "proxima-nova-alt-ext-cond",sans-serif !important;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;

  &:hover{
    @include transition;
    text-decoration: none;
    opacity: .75;
  }
}

.geopattern{
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../img/geopattern.svg);
  opacity: .04;
}

.geocontainer{
  position: relative;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(-3.9deg);
    transform-origin: 25% 100%;
  }

  &:after {
    bottom: 0;
    transform: skewY(-3.9deg);
    transform-origin: 75%;
  }
}

.geocontainer-02{
  position: relative;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(-3.9deg);
    transform-origin: 25% 100%;
  }

  &:after {
    bottom: 0;
    transform: skewY(4deg);
    transform-origin: 55%;
  }
}

.main-logo{
  margin-top: 60px;
  margin-bottom: 30px;
}


.sponsors{
  img{
    @include full;
  }
}


#back-top {
    @include transition;
    position: fixed;
    z-index: 999;
    bottom: 15px;
    right:15px;
    background: #000412;

    &:hover{
      @include transition;
      background: $mblue;
    }

    a{
      @include transition;
      display: block;
      padding: 20px;
      font-size: 25px;
      font-family: "proxima-nova-alt-ext-cond",sans-serif !important;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 1px;
      text-align: center;

      &:hover, &:focus, &:visited {
          color: white;
          text-decoration: none;
      }
    }
}

/* END: Elements */


/**
 * =========================================
 * Footer
 * =========================================
 */


/* END: Footer */
